@font-face {
  font-family: "Retro-Gaming";
  src: url("fonts/Retro-Gaming.woff") format("woff"),
    url("fonts/Retro-Gaming.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blinking {
  animation: blink 0.5s infinite;
}
#SpeedUp {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: "Retro-Gaming";
  font-size: 30px;
  color: white;
  display: none;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}
body {
  margin: 0;
  background-color: lightgray;
  background-image: url("../images/Background.webp");
  background-position: top;
}
h1 {
  font-family: "Retro-Gaming";
  color: gold;
  font-size: 50px;
}
#Controles {
  font-family: "Retro-Gaming";
  background-color: greenyellow;
  color: darkcyan;
  font-size: 20px;
  text-align: center;
}
#start-btn {
  font-family: "Retro-Gaming";
  background-color: greenyellow;
  color: darkcyan;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}
#Score{
  font-family: "Retro-Gaming";
  background-color: greenyellow;
  color: darkcyan;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
  transition: color 2s ease, background-color 2s ease;
  
}
#HiScore{
  font-family: "Retro-Gaming";
  background-color: greenyellow;
  color: darkcyan;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
  transition: color 2s ease, background-color 2s ease;
}
#restart-btn,
#finalScore,
#finalHiScore {
  font-family: "Retro-Gaming";
  background-color: pink;
  color: darkred;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: darkgray;
  width: 600px;
  height: 400px;

  position: relative;
  overflow: hidden;
  user-select: none;
  background-image: url("../images/bg.gif");
  background-position: center;
  background-size: cover;
}

#game-box * {
  pointer-events: none;
}

#game-screen,
#game-over-screen {
  display: none;
}
