@font-face {
  font-family: 'Retro-Gaming'; 
  src: url('fonts/Retro-Gaming.woff') format('woff'),  
  url('fonts/Retro-Gaming.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;  
}
body {
  margin: 0;
  background-color: lightgray;
  background-image: url("../images/Background.webp");
  background-position: top;
}
h1 {
  font-family:'Retro-Gaming';
  color: gold;
  font-size: 50px;
}
#Controles {
  font-family:'Retro-Gaming';
  background-color: greenyellow;
  color: darkcyan;
  font-size: 20px;
  text-align: center;
}
#start-btn,
#score,
#hiScore {
  font-family:'Retro-Gaming';
  background-color: greenyellow;
  color: darkcyan;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}
#restart-btn,
#finalScore,
#finalHiScore {
  font-family:'Retro-Gaming';
  background-color: pink;
  color: darkred;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: darkgray;
  width: 600px;
  height: 400px;

  position: relative;
  overflow: hidden;
  user-select: none;
  background-image: url("../images/bg.png");
  background-position: center;
  background-size: cover;
}

#game-box * {
  pointer-events: none;
}

#game-screen,
#game-over-screen {
  display: none;
}
